<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>unprotected test URL</web-resource-name>
            <url-pattern>/rest/status/*</url-pattern>
            <url-pattern>/rest/application.wadl</url-pattern>
        </web-resource-collection>
    </security-constraint>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>secure all REST calls</web-resource-name>
            <url-pattern>/rest/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>USER</role-name>
            <role-name>MANAGER</role-name>
            <role-name>ADMIN</role-name>
        </auth-constraint>
    </security-constraint>
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>timeTrackerRealm</realm-name>
    </login-config>
    <security-role>
        <description>Simple project member</description>
        <role-name>USER</role-name>
    </security-role>
    <security-role>
        <description>Project manager</description>
        <role-name>MANAGER</role-name>
    </security-role>
    <security-role>
        <description>User and project administration</description>
        <role-name>ADMIN</role-name>
    </security-role>
</web-app>
